#myPicture{
	float:right;
	border: 2px solid black;
	padding: -10px;
}

#ulHeader{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #777;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0px auto;
	font-family: "Segoe UI", arial, sans-serif;
}

.liHeader{
	float: left;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.liHeader:hover{
		background-color: #111;
}

h1{
	font-size:38px;
	font-family:arial,sans-serif;
	border-style:solid;
	border-color:#000;
	border-width:0px 0px 2px 0px;
	margin-top: 60px;
}

h2{
	font-size:26px;
	border-style:solid;
	border-color:#000;
	border-width:0px 0px 2px 0px;
}

h3{
	font-size:18px;
	margin:0px;
}

.third{
	font-style: italic;
}
